@{
    Layout = "~/Views/Shared/Accountlayout.cshtml";
}

<div class="container-fluid">
    <div class="row p-4" id="divbestcards">
    </div>
    <div class="col-12" id="nulldiv"><h1 class="display-6 text-center lilita-one-regular nocontentdivbestorder text-warning" id="nocontentdivbestorder"></h1></div>
</div>
<script src="~/javascript/bestprdouctspage.js"></script>