@{
    Layout = "~/Views/Shared/_layout.cshtml";
}
<div class="col-12 divparentlandfirst">
    <div class=" container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 px-md-5 px-sm-3  col-sm-6 h-75 p-0">
                <img src="~/images/pngwing.com.png" class="img-fluid" />
            </div>
            <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 px-4 px-sm-5 divtexts align-content-center pb-3 justify-content-center" style="z-index:90;">
                <h1 class="audiowide-regular headerstext mb-3 text-light">the best choice</h1>
                <p class="pcolorlandingtextlong mb-4 archivo-black-regular">
                    The best time to buy headphones, airpods, laptops, etc. Now you ask why? Just click the button
                </p>
                <a class="btncobtn" asp-action="ProductsHomePage" asp-controller="Products">click me to see future</a>
            </div>
        </div>
    </div>
</div>

<div class="col-12 divnases my-2">
    <div class="container-fluid">
        <div class="row justify-content-center" id="divbestpros">
            <h3 class="text-center mb-3" id="popitems"><u class="bordertext">Popular products</u></h3>
            <div class="col-12 col-lg-4 col-xxl-3 col-xl-3 col-md-6 py-md-2 divpadding">
                <div class="card pl-5">
                    <img src="~/Images/shopimages/laptop-murjp1nk4lp1idlt.jpg" class="card-img-top imagewandh" alt="laptop">
                    <div class="card-body p-0 px-2 carddiv align-content-start text-center">
                        <h5 class="card-title text-center">macbook Air</h5>
                        <p class="card-text align-self-center">The newest Macbook in the whole market that Apple recently introduced and it is the best equipment and the best quality for any work.</p>
                        <div class="text-center align-content-start">
                            <span class="count">$872</span>
                        </div>
                        <div class="divstars">
                            <a class="btnstars"><i class="bi bi-star-fill activestar"></i></a>
                            <a class="btnstars"><i class="bi bi-star-fill activestar"></i></a>
                            <a class="btnstars"><i class="bi bi-star-fill activestar"></i></a>
                            <a class="btnstars"><i class="bi bi-star-fill activestar"></i></a>
                            <a class="btnstars"><i class="bi bi-star-fill"></i></a>
                        </div>
                    </div>
                    <div class="card-button align-content-end mt-2">
                        <button class="btn w-100 rounded-0 rounded-bottom btn-primary btncards">See more</button>
                    </div>
                </div>
            </div> 
            <div class="col-12 col-lg-4 col-xxl-3 col-xl-3 col-md-6 py-md-2 divpadding">
                <div class="card pl-5">
                    <img src="~/Images/shopimages/hero-image.webp" class="card-img-top imagewandh" alt="laptop">
                    <div class="card-body p-0 px-2 carddiv align-content-start text-center">
                        <h5 class="card-title text-center">Hp gaming</h5>
                        <p class="card-text align-self-center">HP Victus 15: A budget-friendly gaming laptop with Ryzen 7, RTX 3050 Ti, and a 144Hz display — around </p>
                        <div class="text-center align-content-start">
                            <span class="count">$872</span>
                        </div>
                        <div class="divstars">
                            <a class="btnstars"><i class="bi bi-star-fill activestar"></i></a>
                            <a class="btnstars"><i class="bi bi-star-fill activestar"></i></a>
                            <a class="btnstars"><i class="bi bi-star-fill activestar"></i></a>
                            <a class="btnstars"><i class="bi bi-star-fill activestar"></i></a>
                            <a class="btnstars"><i class="bi bi-star-fill"></i></a>
                        </div>
                    </div>
                    <div class="card-button align-content-end mt-2">
                        <button class="btn w-100 rounded-0 rounded-bottom btn-primary btncards">See more</button>
                    </div>
                </div>
            </div> 
            <div class="col-12 col-lg-4 col-xxl-3 col-xl-3 col-md-6 py-md-2 divpadding">
                <div class="card pl-5">
                    <img src="~/Images/shopimages/all_colors__fdpduog7urm2_xlarge.jpg" class="card-img-top imagewandh" alt="laptop">
                    <div class="card-body p-0 px-2 carddiv align-content-start text-center">
                        <h5 class="card-title text-center">Iphon 15 pro</h5>
                        <p class="card-text align-self-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                        <div class="text-center align-content-start">
                            <span class="count">$872</span>
                        </div>
                        <div class="divstars">
                            <a class="btnstars"><i class="bi bi-star-fill activestar"></i></a>
                            <a class="btnstars"><i class="bi bi-star-fill activestar"></i></a>
                            <a class="btnstars"><i class="bi bi-star-fill activestar"></i></a>
                            <a class="btnstars"><i class="bi bi-star-fill activestar"></i></a>
                            <a class="btnstars"><i class="bi bi-star-fill"></i></a>
                        </div>
                    </div>
                    <div class="card-button align-content-end mt-2">
                        <button class="btn w-100 rounded-0 rounded-bottom btn-primary btncards">See more</button>
                    </div>
                </div>
            </div> 
            <div class="col-12 col-lg-4 col-xxl-3 col-xl-3 col-md-6 py-md-2 divpadding">
                <div class="card pl-5">
                    <img src="~/Images/shopimages/view-illuminated-neon-gaming-keyboard-setup-controller.jpg" class="card-img-top imagewandh" alt="laptop">
                    <div class="card-body p-0 px-2 carddiv align-content-start text-center">
                        <h5 class="card-title text-center">full set gaming</h5>
                        <p class="card-text align-self-center">
                            Gaming Full Set: A complete gaming gear bundle with RGB mechanical keyboard, high-DPI gaming mouse, extended mouse pad
                        </p>
                        <div class="text-center align-content-start">
                            <span class="count">$872</span>
                        </div>
                        <div class="divstars">
                            <a class="btnstars"><i class="bi bi-star-fill activestar"></i></a>
                            <a class="btnstars"><i class="bi bi-star-fill activestar"></i></a>
                            <a class="btnstars"><i class="bi bi-star-fill activestar"></i></a>
                            <a class="btnstars"><i class="bi bi-star-fill activestar"></i></a>
                            <a class="btnstars"><i class="bi bi-star-fill"></i></a>
                        </div>
                    </div>
                    <div class="card-button align-content-end mt-2">
                        <button class="btn w-100 rounded-0 rounded-bottom btn-primary btncards">See more</button>
                    </div>
                </div>
            </div> 
            <div class="col-12 col-lg-4 col-xxl-3 col-xl-3 col-md-6 py-md-2 divpadding">
                <div class="card pl-5">
                    <img src="~/Images/shopimages/someelproducts.png" class="card-img-top imagewandh" alt="laptop">
                    <div class="card-body p-0 px-2 carddiv align-content-start text-center">
                        <h5 class="card-title text-center">iphon full pack</h5>
                        <p class="card-text align-self-center">
                            Apple Full Pack: A premium tech ecosystem featuring an iPhone, AirPods, iPad, MacBook, and Apple Watch — perfectly synced for seamless productivity, entertainment, and style across all your devices.
                        </p>
                        <div class="text-center align-content-start">
                            <span class="count">$872</span>
                        </div>
                        <div class="divstars">
                            <a class="btnstars"><i class="bi bi-star-fill activestar"></i></a>
                            <a class="btnstars"><i class="bi bi-star-fill activestar"></i></a>
                            <a class="btnstars"><i class="bi bi-star-fill activestar"></i></a>
                            <a class="btnstars"><i class="bi bi-star-fill activestar"></i></a>
                            <a class="btnstars"><i class="bi bi-star-fill"></i></a>
                        </div>
                    </div>
                    <div class="card-button align-content-end mt-2">
                        <button class="btn w-100 rounded-0 rounded-bottom btn-primary btncards">See more</button>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>

<div class="divabout">
    <h3 class="text-center pcontent">why <b class="bingob">Bingo</b><b class="shopb">Shop</b>?</h3>
    <p class="text-center pcontent">
        Bingo shop is the most popular online shops in the world because we strive to keep all our customers
        satisfied at all times Among the services we provide, we can mention the unconditional return of goods,
        providing the best goods with the best quality, etc.
    </p>
</div>
