.fontpcoall {
    font-size:1.25rem !important;
}

.condvis {
    margin-left:5px !important;
    margin-right:5px !important;
    padding:0 !important;
}

.divcontentsarh {
    border-radius: 20px;
    box-shadow: 0 0 20px var(--shadowcolor);
}