@{
    Layout = "~/Views/Shared/AboutLayout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        @*         <div class="col-12 p-0">
            <img src="~/images/logo2.jpg" height="500" class="rounded w-100 p-0 firstimageab" />
        </div> *@
        <div class="bg-body-secondary text-center px-0 divcontentsarh my-3">
            <div class="col-12 my-3">
                <h1>About <b class="bingob " id="bingob">Bingo</b><b id="shopb" class="shopb">Shop</b> and our business</h1>
                <p class="fontpcoall pt-2">bingo shop is one of the biggest stores for the sale of electronic devices, which has a high working history we are a group of people who are passionate about technology as a team. We started our work in 2013 Since then, our main goal has been to provide the best electronic devices such as laptops and... with the best quality and the best price Our mission is to always be at the top of the list of major stores</p>
            </div>
            <div class="col-12 my-3">
                <h1>Why should <b style="color:#efbf04;">you</b> choose us?</h1>
                <p class="fontpcoall">In any situation, we assure you that our products will reach you with the highest quality, fast delivery and 24-hour support. We will do our best to satisfy you, but if you need to return the product, we will refund you as soon as possible.</p>
            </div>
            <div class="col-12 my-3">
                <h1>Products and services</h1>
                <div class="container-fluid ">
                    <div class="row ">
                        <div class="col-12 col-md-6 p-2">
                            <div class="divcontentsarh h-100">
                                <h1>The products we sell</h1>
                                <p class="fontpcoall">Among the products we sell are laptops, phones, tablets, headphones, and any product related to computers.</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 p-2">
                            <div class="bg-black divcontentsarh text-light-emphasis h-100">
                                <h1>Services related to products</h1>
                                <p class="fontpcoall">Among the services related to products, we can mention long-term warranty, authenticity, health, etc</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 my-3">
                <h1>Your satisfaction and experience dear customers</h1>
                <p class="fontpcoall">One of the most important things for Bingo Store is customer satisfaction. Customers always come first and we are always ready to hear your criticisms.</p>
            </div>
            <div class="col-12 my-3">
                <h1>CTA</h1>
                <h4><b>If you have never bought from us</b></h4><a asp-action="ProductsHomePage" asp-controller="Products">So start your shopping right now</a>
                <h4><b>for Contact us</b></h4><a href="#">click here</a>
            </div>
            <div class="col-12 my-3">
                <div class="container-fluid p-0">
                    <div class="row divcontentsarh mx-3">
                        <div class="col-12 col-lg-3 p-2">
                            <img src="~/images/images.png" class="rounded-circle img-fluid" />
                        </div>
                        <div class="col-12 col-lg-9 d-flex justify-content-end align-items-center">
                            <div class="row">
                                <div class="col-12 divtexts">
                                    <h3 class="textcontentsmall">How to help us</h3>
                                    <p class="textcontentfull fontpcoall">We strive to provide you with the best products available in all markets but ifyoufeel you are lacking,please let us know at <a href="#">Here</a> thank you</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>