@{
    Layout = "~/Views/Shared/BlogLayout.cshtml";
}
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-12 my-5 firstcontent">
            <h1 class="display-2 text-center">
                welcome to blog of
                <b class="bingob " id="bingob">Bingo</b><b id="shopb" class="shopb">Shop</b>
            </h1>
        </div>
        <div class="col-12 col-md-8 p-0 my-4">
            <h1 class="dispaly-3 m-0 pt-2 text-center pb-3">about bingoshop</h1>
            <div class="bingoshopinformation first py-4 p-0 text-center">
                <p class="m-0 py-2 px-2">
                    bingob shop best online for buyin laptop phone headphones and... bingo shop With more than 10 years of experience, Bingo Shop has the honor that in these 10 years, 99% of customers were satisfied with shopping from this collection.
                </p>
            </div>
        </div>
    </div>
    <div class="row m-3 d-flex justify-content-center">
        <h1 class="dispaly-4 m-0 mt-2 text-center p-0 mb-3">Some tips to choose the best laptop(This applies to all products)</h1>
        <div class="col-12 col-lg-5 col-md-12 col-md-6 me-lg-4 my-md-2 my-2 p-3 text-center backgcoko bingoshopinformation2 bingoshopinformation">
            <p><b>In the first step</b>, you should know what you need this laptop for. If you need it for gaming, you should pay attention to things such as graphics card, RAM, CPU, and almost everything, and this applies to all jobs, work, etc.</p>
        </div>
        <div class="col-12 col-lg-5 col-md-12 col-md-6 me-lg-4 my-md-2 my-2 p-3 text-center backgcoko bingoshopinformation2 bingoshopinformation">
            <p><b>In the Second step</b>, You should know what hardware specifications you need for any work like games or other and buy your desired laptop accordingly.</p>
        </div>
        <div class="col-12 col-lg-5 col-md-12 col-md-6 me-lg-4 my-md-2 my-2 p-3 text-center backgcoko bingoshopinformation2 bingoshopinformation">
            <p><b>And in the last step</b>, You should choose the best option according to the information you have obtained and according to your budget.</p>
        </div>
    </div>
    <div class="row text-center">
        <h1 class="dispaly-4 m-0 mt-2 text-center p-0 mb-3">Have you had the experience of buying our products? Share with us in</h1>
        <div class="col-12 py-3">
            <div class="row text-center">
                <div class="col-3"><a href="#"><i class="bi display-1 bi-whatsapp"></i></a></div>
                <div class="col-3"><a href="#"><i class="bi display-1 bi-telegram"></i></a></div>
                <div class="col-3"><a href="#"><i class="bi display-1 bi-facebook"></i></a></div>
                <div class="col-3"><a href="#"><i class="bi display-1 bi-instagram"></i></a></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="tags text-center">
                <strong>Tags</strong>
                <a href="/tags/"></a>
            </div>
        </div>
    </div>
</div>